# Defiantly don't sync the hundreds of gigs of movies and TV shows.
/content/media/*
/content/thumbs/*
/content/

# Keep the backups out of it.
/backups/

# Don't sync the logs directory.
/logs/*.txt

# Personal development stuff
*.sublime-project
*.sublime-workspace
sass-build.bat
sass-build.sh
/docs/autobuilder.sh

# docs
/docs/_*

# Sensitive configuration files.
leum/conf/database.conf.php
leum/plugins/omdb_source/omdb_config.conf.php