// Get the colour variables.
@import 'themes/default';

// Get the base parts.
@import 'base/leum-base';
@import 'base/leum-layout';

%dark {
	color: $dark-text;
	background-color: $dark-bg;

	.search-box, input
	{
		border-radius: 4px;
		box-sizing: border-box;
		background-color: $dark-alt-bg;
		border: $dark-dark;
		box-shadow: inset 0 1px 3px $dark-dark;
	}
}

// Get the modules.
@import 'modules/title-menu';
@import 'modules/tag-field';
@import 'modules/modal';
@import 'modules/messages';
@import 'modules/media-viewer';
@import 'modules/suggestion-input';
@import 'modules/box';
@import 'modules/menus';

// Get the page specific styles
@import 'pages/login';
