ul.tagfield
{
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
	width: auto;
}

ul.tagfield li
{
	background-color: #EEE;
	display: inline-block;
	border-radius: 2px;
	padding: 0.35em;
	margin: 0.25em;
	color: #333;
}
ul.tagfield li a.tag-delete
{
	color: inherit;
	margin-left: 0.35em;
}