.debug-head
{
	background-color: wheat;
}
.debug-head pre
{
	margin: 0;
}

.leum-page-buttons
{
	text-align: center;
	display: block;
}

.full-width
{
	width: 100%;
}

.button-compact
{
	padding: 0.35rem;
	font-size: 85%;
}
.button-delete
{
	background: rgb(215, 164, 164);
}