/* == Title Bar == */
.title-menu .user-dropdown, .title-menu {
  box-shadow: 0 2px 5px #33323280;
}

.title-menu {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background-color: #191818;
  color: #fff;
  /* == User Drop down ==*/
}
.title-menu .item {
  padding: 0.5em 0.8em;
  font-size: 125%;
}
.title-menu .item:hover,
.title-menu .user-dropdown a:hover {
  color: #fff;
  transition: color 0.1s;
}
.title-menu .title-menu-heading {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #fff;
}
.title-menu .profile,
.title-menu .fa {
  font-size: 1.5em;
  height: 1em;
  width: auto;
  vertical-align: middle;
}
.title-menu .user-button {
  padding: 0.3125rem;
}
.title-menu .user-dropdown {
  font-size: 1.25rem;
  width: 300px;
  right: 0;
  top: 2.15em;
  padding: 1em;
  position: absolute;
  display: block;
  z-index: 15;
}
.title-menu .user-dropdown .user-header {
  display: flex;
  margin-bottom: 1em;
}
.title-menu .user-dropdown .user-header .profile {
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
  flex-shrink: 0;
}
.title-menu .user-dropdown .user-header .username,
.title-menu .user-dropdown .user-header .email {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.title-menu .user-dropdown .user-header .email {
  font-size: 1rem;
}
.title-menu .user-dropdown .user-header .username {
  text-align: left;
  font-weight: 600;
  color: #fff;
}
.title-menu .user-dropdown hr {
  border: 1px solid #555;
}
.title-menu .user-dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px solid #555;
}
.title-menu .user-dropdown ul:first-child {
  border-top: none;
}
.title-menu .user-dropdown li {
  margin: 0.5em 0em;
}
.title-menu .user-dropdown li .fa {
  font-size: inherit;
  margin-left: 1em;
  float: left;
  position: absolute;
}
.title-menu .user-dropdown li span {
  margin-left: 2.5em;
}
.title-menu .user-dropdown a {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  color: #AAA;
}
.title-menu .user-dropdown a.regiser-link {
  margin-bottom: 0.75em;
}
.title-menu .user-dropdown li:last-of-type {
  margin-bottom: 0;
}

.profile {
  display: inline-block;
  height: 2em;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

ul.tagfield {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
  width: auto;
}

ul.tagfield li {
  background-color: #EEE;
  display: inline-block;
  border-radius: 2px;
  padding: 0.35em;
  margin: 0.25em;
  color: #333;
}

ul.tagfield li a.tag-delete {
  color: inherit;
  margin-left: 0.35em;
}

#modal-background {
  background-color: #000000;
  opacity: 0.8;
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  border-radius: 2px;
}

.modal-title {
  border-bottom: 1px solid #CCC;
  padding: 0.5rem;
  margin: 0;
}

.modal-footer {
  border-top: 1px solid #CCC;
  direction: rtl;
  padding: 0.5rem;
}

.modal-footer > * {
  margin-left: 0.5rem;
}

.media-modal {
  background: none;
}

.media-modal .content {
  margin: 0;
  padding: 0;
}

.media-modal .modal-footer,
.media-modal .modal-title {
  border: none;
}

.media-modal {
  max-width: 100%;
}

.media-modal .modal-footer .pure-button {
  background: none;
  color: white;
  border: 1px solid #ffffff30;
  border-radius: 2px;
  font-size: 85%;
  padding: 0.3em 0.6em;
}

.media-modal .modal-footer .pure-button:hover {
  background-color: #ffffff30;
  color: white;
  border: 1px solid #ffffff30;
  border-radius: 2px;
}

.media-modal .leum-content-item {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.media-modal .modal-title {
  font-weight: bolder;
  color: #fff9;
  font-size: 100%;
}

.media-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.media-viewer .media-item {
  max-width: 100%;
  max-height: 100%;
}
.media-viewer.full {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.media-viewer.full .title {
  margin: 0;
  font-weight: lighter;
  font-size: 140%;
}
.media-viewer.full .footer {
  display: flex;
  justify-content: space-between;
}
.media-viewer.full .tags {
  flex-grow: 1;
}
.media-viewer.full .media-item {
  padding: 0.5em 0;
}

.viewer-button {
  font-family: monospace;
  text-shadow: 2px 2px 4px black;
  z-index: 500;
  display: block;
  font-size: 60px;
  position: fixed;
  padding: 0 0.25em;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.viewer-button:hover {
  color: #AAA;
}

#media-viewer-close {
  top: 0;
  right: 0;
}

#media-viewer-next {
  top: 50%;
  right: 0;
}

#media-viewer-prev {
  top: 50%;
  left: 0;
}

.title-menu .user-dropdown {
  background-color: #333232;
  color: #AAA;
}

#debug-head {
  background-color: wheat;
}

pre#debug-head {
  margin: 0;
}

#debug-head:empty {
  display: none;
}

.leum-page-buttons {
  text-align: center;
  display: block;
}

.full-width {
  width: 100%;
}

.middle {
  margin: auto;
}

.button-compact {
  padding: 0.35rem;
  font-size: 85%;
}

.button-delete {
  background: #d7a4a4;
}

.leum-code {
  background-color: #EEE;
  display: block;
  border-radius: 0.35rem;
  padding: 1em;
}

.leum-code pre {
  margin: 0;
}

.leum-green {
  color: #3B5;
}

.leum-blank-list {
  list-style: none;
  padding: 0;
}

.leum-textarea {
  resize: vertical;
  max-height: 10em;
  min-height: 3em;
}

/*.leum-bad-type
{
	margin: auto;
	text-align: center;
	background-color: #EEE;
	padding: 1em;
	margin: 1em;
	border-radius: 0.5em;
}*/
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.suggestion-box li {
  display: flex;
}

.suggestion-box li .tag-count {
  opacity: 0.5;
}

.suggestion-box li .tag-slug {
  flex: 1;
}

.tags {
  display: block;
  margin: 0.5em 0;
}

.tag {
  margin-right: 0.3em;
}

.button-stealth:hover {
  background-color: rgba(255, 255, 255, 0.1882352941);
}

.tag-input .suggestion-box {
  display: inline-block;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  background-color: white;
  z-index: 100;
}

.footer .button-stealth:hover {
  background-color: #00000030;
}

.button-stealth,
.footer .tag,
.footer input,
.footer .suggestion-box {
  color: white;
  background-color: #00000000;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 4px;
  font-size: 85%;
  padding: 0.3em 0.6em;
  display: inline-block;
  margin-right: 0.3em;
  margin: 0.5 1em;
}

.footer .suggestion-box {
  bottom: 2em;
  background-color: #000000CC;
}

.button-stealth:empty {
  display: none;
}

.button-stealth a {
  color: white;
}

.tag-input {
  widows: 100%;
  position: relative;
  display: block;
}

.footer .tags {
  margin: 0;
}

.footer input {
  width: 160px;
}

.tag-input li {
  padding: 0.5em 0.6em;
}

.footer .tag-input li:hover {
  background-color: rgba(238, 238, 238, 0.0470588235);
}

.tag-input li:hover {
  background-color: #EEE;
}

.items .item-tile img {
  width: 100%;
  height: 100%;
}

.items .item-tile .missing-thumbnail {
  color: #DDD;
  position: absolute;
}

.browse-bar .right {
  display: inline-block;
}

.browse-bar .content {
  margin-bottom: 0;
}

.media-edit td.path {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
  cursor: alias;
}

/* == Messages ==*/
.messages .msg {
  display: block;
  background-color: #f6f6f6;
  box-shadow: #dddddd 0px 1px 3px inset;
  border-radius: 4px;
  border-left: 4px solid gray;
  padding: 0.5em;
}

.msg.msg-red {
  border-left-color: red;
  background-color: #faf6f6;
}

.msg.msg-green {
  border-left-color: green;
  background-color: #f6faf6;
}

.msg.msg-blue {
  border-left-color: blue;
  background-color: #f6f6fa;
}

/* == Login Box ==*/
.login-box {
  width: 22em;
  display: block;
  margin: auto;
}

/* == Titles ==*/
.title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 1em;
  padding-bottom: 15px;
}

.title .fa.left {
  margin-right: 1em;
}

.title:first-of-type {
  padding-top: initial;
}

/*# sourceMappingURL=leum.css.map */
