#debug-head
{
	background-color: wheat;
}
pre#debug-head
{
	margin: 0;
}
#debug-head:empty
{
	display: none;
}

.leum-page-buttons
{
	text-align: center;
	display: block;
}

.full-width
{
	width: 100%;
}

.button-compact
{
	padding: 0.35rem;
	font-size: 85%;
}
.button-delete
{
	background: rgb(215, 164, 164);
}

.leum-code
{
	background-color: #EEE;
	display: block;
	border-radius: 0.35rem;
	padding: 1em;
}
.leum-code pre
{
	margin: 0;
}
.leum-green
{
	color: #3B5;
}

.leum-blank-list
{
	list-style: none;
	padding: 0;
}

.leum-textarea
{
	resize: vertical;
	max-height: 10em;
	min-height: 3em;
}

/*.leum-bad-type
{
	margin: auto;
	text-align: center;
	background-color: #EEE;
	padding: 1em;
	margin: 1em;
	border-radius: 0.5em;
}*/
.items
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.suggestion-box li
{
	display: flex;
}
.suggestion-box li .tag-count
{
	opacity: 0.5;
}
.suggestion-box li .tag-slug
{
	flex: 1;
}

.tags
{
	display: block;
	margin: 0.5em 0;
}
.tag
{
	margin-right: 0.3em;
}
.button-stealth:hover
{
	background-color: #FFFFFF30;
}
.tag-input .suggestion-box
{
	display: inline-block;
	left: 0;
	right: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	background-color: white;
	z-index: 100;
}
.footer .button-stealth:hover
{
	background-color: #00000030;
}

.button-stealth,
.footer .tag,
.footer input,
.footer .suggestion-box
{
	color: white;
	background-color: #00000000;
	border: 1px solid #FFFFFF30;
	border-radius: 4px;
	font-size: 85%;
	padding: 0.3em 0.6em;

	display: inline-block;
	margin-right: 0.3em;
	margin: 0.5 1em;
}
.footer .suggestion-box
{
	bottom: 2em;
	background-color: #000000CC;
}
.button-stealth:empty
{
	display: none;
}
.button-stealth a
{
	color: white;
}
.tag-input
{
	widows: 100%;
	position: relative;
	display: block;
}
.footer .tags
{
	margin: 0;
}
.footer input
{
	width: 160px;
}
.tag-input li
{
	padding: .5em .6em;
}
.footer .tag-input li:hover
{
	background-color: #EEEEEE0C;
}
.tag-input li:hover
{
	background-color: #EEE;
}
.items .item-tile img
{
	width: 100%;
	height: 100%;
}

.items .item-tile .missing-thumbnail
{
	color: #DDD;
	position: absolute;
}

.browse-bar .right
{
	display: inline-block;
}
.browse-bar .content
{
	margin-bottom: 0;
}

.media-edit td.path
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 1px;
	cursor: alias;
}