$text-colour: #888;
$title-colour: #444;
$primary: #0078e7;
$back-colour: #fff;

$dark-bg: #1e2026;
$dark-text: desaturate(lighten($dark-bg, 65%), 80%);
$dark-alt-bg: darken($dark-bg, 4%);

$border-radius: 2px;

$dark-dark: desaturate(darken($dark-bg, 10%), 5%);

$devide-border-colour: #dbdbdb;